@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@keyframes copyText {
    0% {
        color: rgba(218, 218, 218, 0);
    }
    80% {
        color: rgba(218, 218, 218, 1);
        transform: translateY(-220%);
    }

    95% {
        color: rgba(218, 218, 218, 0);
        transform: translateY(-220%);
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: #FEE715;
    background-color: #101820;
    margin: 0;
}

h1 {
    font-size: 450%;
    text-align: center;
    margin: 0;
    padding: 3%;
}

h2 {
    font-size: 340%;
    text-align: center;
    margin-top: 5%;
    padding: 3%;
}

button:not(hover) {
    background-color: #FEE715;
    color: #17232f;
    border: none;
    border-radius: 15px;
    padding: 1.5%;
    margin-top: 2.7%;
    font-size: 180%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition-duration: .3s;
    margin: .5%;
}

button:hover {
    color: #233644;
    background-color: #b9a919;
    transition-duration: .3s;
}

button:active {
    background-color: #FEE715;
    color: #101820;
    transition-duration: .2s;
}

.container {
    display: flex;
    justify-content: center;
}

svg {
    position: fixed;
    bottom: 0;
}

.copy-text {
    font-family: 'Ubuntu', sans-serif;
    color: rgba(218, 218, 218, 0);
    position: absolute;
    left: 39.5%;
    font-size: 150%;
    top: 17%;
}

.copyAnimation {
    animation-name: copyText;
    animation-duration: 1s;
}

.contact {
    font-size: 120%;
    position: absolute;
    left: 47%;
    top: 96.5%;
    z-index: 99;
    text-decoration: none;
    color: #c5c5c5;
}

.back-btn {
    position: absolute;
    left: 2%;
    top: 3%;
    border-radius: 15px;
    font-size: xxx-large;
}

.container-form {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7%;
}

input:not(hover) {
    background-color: #17232f;
    border: none;
    border-bottom: #203041 solid 4px;
    color: white;
    padding-top: 9%;
    padding-right: 9%;
    margin-bottom: 5%;
    width: 100%;
    font-size: 150%;
    font-family: 'Ubuntu', sans-serif;
    transition-duration: .3s;
}

input::placeholder {
    color: #c5c5c5;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
}

input:hover {
    background-color: #182734;
    border-bottom: #1d2b3b solid 4px;
    transition-duration: .3s;
}

input:focus {
    border-bottom: #FEE715 solid 4px;
    transition-duration: .3s;
    outline: none;
}

